body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }

.topnav{
font-family: 'Comfortaa', cursive;
}

#navinfo
{
    font-size: 12px;
}

.formfield
{
    font-family: 'Coda', cursive;
}

input
{
    font-family: 'Yatra One', cursive;
}

.footsubject
{
    font-family: 'Merienda', cursive;
}

footer
{
    font-family: 'Open Sans', sans-serif;
}

.formextra
{
    font-family: 'Offside', cursive;
}

#myCarousel
{
    padding-top: 0.5rem;
}

#Status
{
    float: right;
    margin-right: 12px;
}

a
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.formheader
{
    font-size: 18px;
    font-family: 'Merienda', cursive;
    color: whitesmoke;
    background-color: rgba(56, 56, 156, 0.65);
    float: right;
}

// /* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-menu {
    display: block;
}

//   img .missingpage
//   {
//     background-image: url('/img/missingpage.jpg');
//   }

